body {
            background-color: #f0f0f0;
        }

        h1 {
            color: white;
        }body {
            font-family: Arial;
            background-color: #f4f4f4;
        }

        header {
            background-color: #003366;
            color: white;
            padding: 20px;
            text-align: center;
        }

        h2 {
            color: #003366;
        }

        ul {
            background-color: white;
            padding: 15px;
        }

        footer {
            text-align: center;
            margin-top: 20px;
            font-size: 14px;
        }
		
		
