


body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    text-align: center;
    background-color: #343333;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

header {
    position: fixed;
    top: 0;
    left: 0; 
    width: 100%;
    z-index: 1000;
    background-color: black;
}

main {
    display: flex;
    flex-direction: column;
    margin: 100px;
    flex: 1;
}

.sec1{
    animation: corFundo 2s ease-in forwards;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    padding: 100px;
}

.sec2{
    animation: corFundo 2s ease-in forwards;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    padding: 100px;
}

.imagem {
    width: 700px;
    height: auto;
    border-radius: 20px;
    animation: apareceTexto 3s ease-in forwards;
}



.eu {
    margin-top: 10px;
    font-size: 40px;
    width: 1000px;
    margin-left: auto;
    animation: apareceTexto 5s ease-in forwards;
    
}

.ra {
    font-size: 20px;
    animation: apareceTexto 4s ease-in forwards;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.interesse {
    margin-top: 10px;
    font-size: 40px;
    width: 1000px;
    animation: apareceTexto 5s ease-in forwards;
}

a, a:visited{
    color: white;
    text-decoration: none;
}

ul {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}


.github {
    margin-right: 20px;
    font-size: 25px;
    width: 50px;
    border: 2px solid white;
    list-style-type: none;
    border-radius: 100px;
    cursor: pointer;
    transition: background-color 0.7s ease;
}

.github:hover{
 background-color: rgb(1, 0, 63);
}

.instagram {
    margin-right: 20px;
    font-size: 25px;
    width: 50px;
    border: 2px solid white;
    list-style-type: none;
    border-radius: 100px;
    cursor: pointer;
    transition: background-color 0.7s ease;
}

.instagram:hover{
    background-color: rgb(141, 58, 141);
}

.linkedin {
   margin-right: 10px;
    font-size: 25px;
    width: 50px;
    border: 2px solid white;
    list-style-type: none;
    border-radius: 100px;
    cursor: pointer;
    transition: background-color 0.7s ease;
}

.linkedin:hover{
    background-color: #0072b1;
}

footer {
    background-color: black;
}


